@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
/* about us */
.aboutbg{
    background: #F7FBBC;
    /* background-image: linear-gradient(to bottom right, rgb(66, 100, 101), rgb(9, 10, 11)); */
}
.bxx{
    padding: 3rem;
    color:rgb(15, 59, 65);
    font-size: x-large;
    font-family: serif;
    font-weight: 700;
}
.divconform{
    padding: 2rem;
    background: azure;
    text-align: center;
    box-shadow: -2px -2px 5px rgba(8, 7, 7, 0.3),
        5px 5px 5px rgba(11, 10, 10, 0.2),
        15px 15px 15px rgba(4, 1, 1, 0.2);
}
.Aboutchild h4{
    font-size: 2rem;
    font-family: 'Rowdies', cursive;
}
.box-2{
    width:auto;
    height: 250px;
    position: relative;
    margin-top: 10rem;
    background: beige;
    border-style: dotted;
    border-width: thick;
    border-color: brown;
    border-radius: 10px;
}
.box-2 h5{
    padding: 2rem;
    text-align: center;
    color: rgb(5, 154, 45);
    font-family: serif;
}
.box-2 p{
    text-align: center;
    font-family: serif;
}
.box-3{
    top:-45%;
    left: 100px;
    padding:1rem;
    border-radius: 100px;
    background: #fff;
    position: absolute;
}
@media  (max-width:1024px) {
    .box-3{
        left:70px;
    }
}
/* ===============================Vision & Mission====================== */

.card2{
    left: 160px;
    bottom: -30px;
    position: relative;
    max-width:200px;
    height: 200px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background-image: repeating-conic-gradient(rgb(23, 57, 40) 10%, rgb(61, 61, 42)20%);
}
.card3{
    position: relative;
    max-width: auto;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background-image: repeating-conic-gradient(rgb(23, 57, 40) 10%, rgb(61, 61, 42)20%);
}
.card3 h2{
    font-family: serif;
    color: #fe0862;
    text-align: center;
}
.card3 p{
    padding: 2rem;
    font-family: serif;
    color: #fff;
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width:375px) {
    .card2{
        left: 70px;
    }
}
@media screen and (max-width:768px) {
    .card2{

        left: 70px;
    }
}
/* ======================Founder, Manager & Principal=================== */
.contain-1{
    padding: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contain-1 .card1{
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    background: #fff;
    padding: 20px 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.contain-1 .card1:hover{
    height: 500px;
}
.contain-1 .card1 .card1-img{
    position: relative;
    width:260px;
    height: 260px;
    top:-60px;
    left:10px
}
.contain-1 .card1 .card1-img img{
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.contain-1 .card1-content{
    position: relative;
    margin-top: -140px;
    padding:10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.contain-1 .card1:hover .card1-content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.card1-content h2{
text-align: center; 
font-family: serif; 
color: #fe0862;
}
.card1-content p{
    text-align: center; 
    font-family: serif;
}
/* ===================== */

.about-level{
    height: 100px;
    overflow:hidden;
    position:relative;
    }
    .about-level::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 78"><g fill="%23f7fbbc"><path d="M1786 0h125c11 6 21 11 33 13a63 63 0 0012 2 58 58 0 007 0 62 62 0 009-1c9-2 20-7 26-14h2v2a44 44 0 01-2 13c-4 13-14 25-26 30-25 11-55 5-78-3l-44-18c-10-4-20-8-31-7s-23 8-23 19c-7-5-10-12-12-20v-1a36 36 0 012-15z"/><path d="M1572 0h126c10 6 21 11 33 13a63 63 0 0012 2 58 58 0 006 0 62 62 0 0010-1c8-2 19-7 25-14h3a43 43 0 01-2 15l-1 1c-4 13-13 24-25 29-25 11-56 5-78-3l-44-18c-10-4-20-7-32-7s-23 8-23 19c-6-5-10-12-11-21a36 36 0 011-15z"/><path d="M1359 0h125c10 6 21 11 33 13a63 63 0 0012 2 58 58 0 006 0 62 62 0 0010-1c8-2 20-7 25-14h3a43 43 0 01-2 15c-4 13-14 25-26 30-25 11-56 5-78-3l-44-18c-10-4-20-7-31-7s-23 8-23 19c-7-5-11-12-12-21a36 36 0 012-15z"/><path d="M1145 0h125c11 6 21 11 33 13a63 63 0 0012 2 58 58 0 006 0 62 62 0 0010-1c9-2 20-7 26-14h2a43 43 0 01-2 15c-4 13-14 25-26 30-25 11-55 5-78-3l-44-18c-10-4-20-7-31-7s-23 8-23 19c-7-5-11-12-12-21a36 36 0 012-15z"/><path d="M931 0h125c11 6 21 11 33 13a63 63 0 0012 2 58 58 0 007 0 62 62 0 009-1c9-2 20-7 26-14h2a44 44 0 01-2 15c-4 13-14 25-26 30-25 11-55 5-77-3l-44-18c-11-4-21-8-32-7s-23 8-23 19c-7-5-11-13-12-21a36 36 0 012-15z"/><path d="M717 0h125c11 6 22 11 33 13a63 63 0 0012 2 58 58 0 007 0 62 62 0 009-1c9-2 20-7 26-14h3a43 43 0 01-3 15c-4 13-13 25-25 30-26 11-56 5-78-3l-44-18c-11-4-21-8-32-7s-23 8-23 19c-7-5-10-13-11-21a36 36 0 011-15z"/><path d="M503 0h125c11 6 22 11 33 13a62 62 0 0013 2 58 58 0 006 0 62 62 0 009-1c9-2 20-7 26-14h3a43 43 0 01-2 15c-5 13-14 25-26 30-26 11-56 5-78-3l-44-18c-10-4-21-7-32-7s-23 8-23 19c-6-5-10-12-11-21a36 36 0 011-15z"/><path d="M289 0h126c10 6 21 11 32 13a63 63 0 0013 2 58 58 0 006 0 62 62 0 009-1c9-2 20-7 26-14h3a44 44 0 01-2 15c-4 13-14 25-26 30-26 11-56 5-78-3l-44-18c-10-4-21-8-32-7s-23 8-23 19c-6-5-10-13-11-21a36 36 0 011-15z"/><path d="M75 0h126c10 6 21 11 33 13a63 63 0 0012 2 58 58 0 006 0 62 62 0 0010-1c8-2 19-7 25-14h3a43 43 0 01-2 15c-4 13-14 25-26 30-25 11-56 5-78-3l-44-18c-10-4-20-8-32-7s-23 8-23 19c-6-5-10-13-11-21a36 36 0 011-15z"/><path d="M0 50V6a121 121 0 0020 7 63 63 0 0012 2 58 58 0 006 0 62 62 0 0010-1c8-2 20-7 26-14h2a43 43 0 01-2 15c-4 13-14 25-26 30-15 7-32 7-48 5z"/><path d="M0 0h1998v15H0z"/><circle cx="1826.1" cy="44.1" r="14.3"/><circle cx="1979.1" cy="67.1" r="10.9"/><circle cx="1909.7" cy="63.9" r="6.4"/><circle cx="1610.7" cy="44.1" r="14.3"/><circle cx="1763.7" cy="67.1" r="10.9"/><circle cx="1694.3" cy="63.9" r="6.4"/><circle cx="1395.4" cy="44.1" r="14.3"/><circle cx="1548.4" cy="67.1" r="10.9"/><circle cx="1478.9" cy="63.9" r="6.4"/><circle cx="1181.9" cy="44.1" r="14.3"/><circle cx="1333" cy="67.1" r="10.9"/><circle cx="1263.6" cy="63.9" r="6.4"/><circle cx="967.2" cy="44.1" r="14.3"/><circle cx="1117.7" cy="67.1" r="10.9"/><circle cx="1048.2" cy="63.9" r="6.4"/><circle cx="757.7" cy="44.1" r="14.3"/><circle cx="902.3" cy="67.1" r="10.9"/><circle cx="832.9" cy="63.9" r="6.4"/><circle cx="542.3" cy="44.1" r="14.3"/><circle cx="686.9" cy="67.1" r="10.9"/><circle cx="617.5" cy="63.9" r="6.4"/><circle cx="326.9" cy="44.1" r="14.3"/><circle cx="471.6" cy="67.1" r="10.9"/><circle cx="402.2" cy="63.9" r="6.4"/><circle cx="111.2" cy="44.1" r="14.3"/><circle cx="256.2" cy="67.1" r="10.9"/><circle cx="186.8" cy="63.9" r="6.4"/><circle cx="40.9" cy="67.1" r="10.9"/></g></svg>'); 
    }
    
    @media (min-width:2100px){
    .about-level::before{
    background-size: 100% calc(2vw + 90px);
    }
    }
     