@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
.boxS{
    width: auto;
    height: auto;
    border-left: 3px solid crimson;
    border-bottom: 3px solid crimson;
}
.boxS:hover{
    opacity: 4;
    background: rgb(109, 98, 98);
    border-left: 3px solid rgb(112, 111, 111);
    border-bottom: 3px solid rgb(99, 99, 99);
}
.boxS p{
    margin-top: 1rem;
    color: crimson;
    font-size: 1rem;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
.boxS p:hover{
    color: #fff;
}
div h4{
    margin-top: 1rem;
    color: crimson;
    font-family: 'Russo One', sans-serif; 
}
li p{
    font-family: serif;
    font-weight: 700;
    font-size: x-large;
    color: darkslategray;
}